name = "echofy-jam-control"
main = "cloudflare-worker-jam-example.js"
compatibility_date = "2026-04-17"
workers_dev = true

[[kv_namespaces]]
binding = "JAM_REGISTRY"
id = "replace-with-your-kv-namespace-id"
